body {
  background: url("/assets/cuphead.gif");
  background-repeat: repeat-y;
  background-attachment: fixed;
  background-size: 19vw auto;
}

.container {
  background: #f0f0f0;
  border: 3px solid;
  border-radius: 20px;
  width: 60vw;
  padding: 20px;
  height: 100vh;
  margin: 10vh auto;
}

p {
  font-size: 30px;
}
